@import "tailwindcss";
@import "tailwind-scrollbar-utilities";

body {
    background-color: var(--color-zinc-900);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hides the spinners on Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}